-#  This file is app/views/movies/index.html.haml
%h2 All Movies

= form_tag movies_path, :id => "ratings_form", :method => :get do
  Include:
  - @allRatings.each do |rating|
    = rating
    = check_box_tag "ratings[#{rating}]", "1", @selectedRatings.include?(rating)
  = submit_tag 'Refresh', :id => "ratings_submit"

%table#movies.table.table-striped.col-md-12
  %thead
    %tr
      %th{:class=>("hilite" if params[:sortingOption] == "Title")}= link_to "Movie Title", movies_path(:sortingOption =>( "Title" if params[:sortingOption]!="Title"))
      %th Rating
      %th{:class=>("hilite" if params[:sortingOption] == "ReleaseDate")}= link_to "Release Date", movies_path(:sortingOption =>( "ReleaseDate" if params[:sortingOption]!="ReleaseDate"))
      %th More Info
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path